<div id="cronin" class="acteur">
<div class="titre">Blaise Cronin</div>
<div class="contenu"> 
<p>
<b>Profesor</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/zitt.jpeg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Professeur visiteur honoraire</h4>
<p>
City University, London; Edinburgh Napier University 
</p>
<h6>1969 </h6>
<h4>Editeur en chef</h4>
<p>
Journal of the American Society for Information Science
</p>
<h6> 1978  </h6>

</div></div></div>
<p>
Sources: <a href="http://www.soic.indiana.edu/all-people/profile.html?profile_id=4">http://www.soic.indiana.edu/all-people/profile.html?profile_id=4/42/ab6/</a>
</p>
<H4>H-index de Cronin Blaise : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
