
    <div id="cronin" class="acteur">
      <div class="titre">Blaise Cronin</div>
      <div class="contenu">
        <p>
          <b>Chercheur en sciences de l'information et en bibliométrie</b>
        </p>
        <div class="container">
          <div class="row">
            <!--left-->
            <div class="col-md-2" id="leftCol">
              <img src="/~groupe10/template/images/blaise.jpg" class="img-responsive" />
            </div>
            <div class="col-md-4" id="leftCol">
              <h4>Professeur honoraire</h4>
              <p>Edinburgh Napier University, Londres</p>
              <h6>1969</h6>
              <h4>Editeur en chef</h4>
              <p>Journal of the American Society for Information Science</p>
              <h6>1978</h6>
            </div>
          </div>
        </div>
        <p>Sources: 
        <a href="http://www.soic.indiana.edu/all-people/profile.html?profile_id=4">http://www.soic.indiana.edu/all-people/profile.html?profile_id=4/42/ab6/</a></p>
        <h4>H-index de Cronin Blaise : 
        <b>43</b></h4>
        <small class="text-center-md">Google, Google Scholar [en ligne]. 2015. Disponible sur : 
        <a href="https://scholar.google.fr/citations?user=ZM_iVWQAAAAJ&amp;hl=fr&amp;oi=ao">scholar.google.com</a> (05/2015).</small>
      </div>
    </div>

