<div id="egghe" class="acteur">
<div class="titre">Leo Egghe</div>
<div class="contenu"> 
<p>
<b>Professeur</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/egghe.jpg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Chercheur</h4>
<p>
Université d'Hasselt (University of Limburg)
</p>
<p>
Information Retrieval, Methodology of Social Science, Mechanical Engineering
</p>


</div></div></div>
<p>
Sources: <a href="http://65.54.113.26/Author/529837/leo-egghe">http://65.54.113.26/Author/529837/leo-egghe/42/ab6/</a>
</p>
<H4>H-index de Leo Egghe : <b>36</b></H4>
<small class="text-center-md">Google, Google Scholar [en ligne]. 2015. Disponible sur : <a href="https://scholar.google.fr/scholar?q=author%3A%22L.+Egghe%22&btnG=&hl=en&as_sdt=0%2C5">scholar.google.com</a> (05/2015).</small>

</div>
