<div id="egghe" class="acteur">
<div class="titre">Leo Egghe</div>
<div class="contenu"> 
<p>
<b>Professeur )</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/zitt.jpeg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4> Information Retrieval, Methodology of Social Science, Mechanical Engineering </h4>
<p>
L'université d'Hasselt (University of Limburg
</p>


</div></div></div>
<p>
Sources: <a href="http://65.54.113.26/Author/529837/leo-egghe">http://65.54.113.26/Author/529837/leo-egghe/42/ab6/</a>
</p>
<H4>H-index de Leo Egghe : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
