<div id="garfield" class="acteur">
<div class="titre">Eugene Garfield</div>
<div class="contenu"> 
<p>
<b>Linguisticien et homme d'affaires</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/zitt.jpeg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Fondateur de la bibliométrie et de la scientométrie</h4>
<h4>Fondateur</h4>
<p>
 Institute for Scientific Information (ISI)
</p>
<p>
Science Citation Index (SCI)
</p>
<p>
Journal Citation Reports</p>
<p>
Index Chemicus
</p>
<h6> 1961  </h6>

</div></div></div>
<p>
Sources: <a href="http://en.wikipedia.org/wiki/Eugene_Garfield">http://en.wikipedia.org/wiki/Eugene_Garfield/1a/42/ab6/</a>
</p>
<H4>H-index de Eugene Garfield : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
