<div id="hirsch" class="acteur">
<div class="titre">Jorge Eduardo Hirsch</div>
<div class="contenu"> 
<p>
<b>Chercheur en physique</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/hirsch.jpg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Laboratoire :  </h4>
<p>
University of California, San Diego
</p>
<h4>Travaux en bibliométrie :</h4>
<p>
Créateur du h-index
</p>
<h6> 2005  </h6>

</div></div></div>
<p>
Sources: <a href="http://en.wikipedia.org/wiki/Jorge_E._Hirsch">http://en.wikipedia.org/wiki/Jorge_E._Hirsch/42/ab6/</a>
</p>
<H4>H-index de Jorge E. Hirsch : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
