<div id="jacso" class="acteur">
<div class="titre"> Peter Jacso </div>
<div class="contenu"> 
<p>
<b>Professor</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/jacso-2.jpg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">
<h4>Laboratoires:</h4>
<p>University of Hawai'i at Mānoa
Mailing Address: 2550 The Mall, Hamilton Bldg. # 2-I, Honolulu, HI 96822
 
Library and Information Science Program
Department of Information and Computer Sciences.
<br/></p>
</div></div></div>
<p>
Sources: <a href="http://www2.hawaii.edu/~jacso/">http://www2.hawaii.edu/~jacso/</a>
</p>
<H4>H-index de Peter Jacso: <b>16</b></H4>

<img src="/~groupe10/template/images/jacso.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
