<div id="cronin" class="acteur">
<div class="titre">Kayvan Kousha</div>
<div class="contenu"> 
<p>
<b>Doctor</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/zitt.jpeg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4> Research Associate of Webometric/Scientometrics</h4>
<p>
Statistical Cybermetrics Research Group, University of Wolverhampton, UK
</p>
<h6> 2014 - present </h6>
<h4>Researcher of European Commission Project </h4>
<p>
 University of Wolverhampton
</p>
<h6> 2012-2014  </h6>

</div></div></div>
<p>
Sources: <a href="http://www.soic.indiana.edu/all-people/profile.html?profile_id=4">http://www.soic.indiana.edu/all-people/profile.html?profile_id=4/42/ab6/</a>
</p>
<H4>H-index de Kayvan Kousha : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
