<div id="kousha" class="acteur">
<div class="titre">Kayvan Kousha</div>
<div class="contenu"> 
<p>
<b>Chercheur en webométrie et scientométrie</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/kousha.JPG" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Chercheur en scientométrie</h4>
<p>
Statistical Cybermetrics Research Group, University of Wolverhampton, UK
</p>
<h6> 2014 - present </h6>
<h4>Comité éditorial de <i>Scientometrics</i></h4>

</div></div></div>
<p>
Sources: <a href="http://www.koosha.tripod.com/">http://www.koosha.tripod.com//42/ab6/</a>
</p>
<H4>H-index de Kayvan Kousha : <b>16</b></H4>

<small class="text-center-md">Google, Google Scholar [en ligne]. 2015. Disponible sur : <a href="https://scholar.google.fr/citations?user=1qZw1XkAAAAJ&hl=en&oi=ao">scholar.google.com</a> (05/2015).</small>
</div>
