<div id="papon" class="acteur">
<div class="titre"> Pierre Papon </div>
<div class="contenu"> 
<p>
<b>Physicien</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/papon.jpg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">
<h4>Formation :</h4>
<p> École supérieure de physique et de chimie industrielles (ESPCI)

<br/></p>
<h4>Ancien Directeur géneral du CNRS </h4>
<h6> 1982 - 1986 </h6>
</div></div></div>
<p>
Sources: <a href="http://fr.wikipedia.org/wiki/Pierre_Papon">http://fr.wikipedia.org/wiki/Pierre_Papon/</a>
</p>
<H4>H-index de Pierre Papon: <b>16</b></H4>


<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
