<div id="priem" class="acteur">
<div class="titre">Jason Priem</div>
<div class="contenu"> 
<p>
<b>Etudiant en Thèse</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/zitt.jpeg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Remarques</h4>

<h4>Université:</h4>
<p>
University of North Carolina at Chapel Hill
</p>
<h6>2009 - present </h6>
<h4>Cofoundateur</h4>
<p>
ImpactStory
</p>
<h6> 2011 - present  </h6>

<h4>Autre:</h4>
<p>Instructional Designer University of Florida</p>
</div></div></div>
<p>
Sources: <a href="https://www.linkedin.com/pub/jason-priem/52/aab/60a">https://www.linkedin.com/pub/jason-priem/52/aab/60a/</a>
</p>
<H4>H-index de Michel Zitt : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
