<div id="rivale" class="acteur">
<div class="titre">Guillaume Rivalle</div>
<div class="contenu"> 
<p>
<b>Buisness Manager</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/rivalle.jpg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Sociéte: </h4>
<p>
Thomas Reuters
</p>
<h6>2006 - present </h6>
<h4>Patent Analysis</h4>
<p>
Thomson Scientific
</p>
<h6> 2002 - 2006  </h6>

</div></div></div>
<p>
Sources: <a href="https://www.linkedin.com/pub/guillaume-rivalle/1a/42/ab6">https://www.linkedin.com/pub/guillaume-rivalle/1a/42/ab6/</a>
</p>
<H4>H-index de Guillaume Rivalle : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
