<div id="vanclay" class="acteur">
<div class="titre">Jerry K. Vanclay </div>
<div class="contenu"> 
<p>
<b>Professor</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/vanclay.jpeg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Laboratoires:</h4>
<p>
- Southern Cross University: Lismore, NSW, Australia <br/>
<h6>1999 to present<br/>
(Environment, Science and Engineering)</h6>
- Center for International Forestry Research: Bogor Barat, Indonesia
<h6>1995 to 1999</h6>
</p>
</div></div></div>
<p>
Sources: <a href="http://jkv.50megs.com/">http://jkv.50megs.com/</a>
</p>
<H4>H-index de Jerry K. Vanclay: <b>28</b></H4>

<img src="/~groupe10/template/images/vanclay.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
