<div id="zitt" class="acteur">
<div class="titre">Michel Zitt </div>
<div class="contenu"> 
<p>
<b>Chercheur</b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/zitt.jpeg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Laboratoires:</h4>
<p>
Observatoire des Sciences et des Techniques (OST), Paris, France 
</p>
<h6>1991-2011 </h6>
<p>
Inra (Institut national pour la recherche agronomique), Développement de l'économie en agriculture et sociologie</p>
<h6>1975-2012 </h6>
<h4>Autre:</h4>
<p>Membre du comité éditorial de <i>Scientometrics</i></p>
</div></div></div>
<p>
Sources: <a href="http://perso.numericable.fr/mzitt/page9/page5/page5.html">http://perso.numericable.fr/mzitt/page9/page5/page5.html/</a>
</p>
<H4>H-index de Michel Zitt : <b>16</b></H4>

<img src="/~groupe10/template/images/zitt.png" class="img-responsive" />
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>
</div>
