
<div id="akademiai" class="acteur">
<div class="titre">Akademiai Kiado</div>
<div class="contenu"> 
<p>
<b> Scientific, Technical, and Medical Publishers of Central-Europe </b></p>
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-2" id="leftCol">
<img src="/~groupe10/template/images/akademiai.jpg" class="img-responsive" />
</div>
<div class="col-md-4" id="leftCol">

<h4>Foundation</h4>
<p>
Budapest, Hungary, 18282
</p>
<h6>1969 </h6>
<h4>Description </h4>
<blockquote>
 "we are a leading STM publisher of Central-Europe. We offer a wide range of high-quality, peer-reviewed journals. Our mission is to provide a valuable online (and offline) research hub for researchers and scientists worldwide."
</blockquote>
</div></div></div>
<p>
Sources: <a href="http://www.akademiai.com/">http://www.akademiai.com//42/ab6/</a>
</p>

</div>
