
    <div id="altmetrics" class="acteur">
      <div class="titre">altmetrics</div>
      <div class="contenu">
        <p>Cette famille d'indicateurs repose sur les nouvelles technologies, tant dans son calcul que dans la nature des données utilisées. Nous parlerons ici surtout
        d'Altmetrics, famille d'indicateur fournis par la start-up éponyme.</p>
        <p>Altmetrics (
        <i>Article Level Metrics</i>) mesure l'impact des publications scientifiques dans les médias sociaux. Les données analysées sont notamment le nombre de fois où une
        page est vue, le nombre de téléchargements ou le nombre de commentaires. Les statistiques des altmetrics sont plus rapides à obtenir que celles des citations car la
        communication dans les médias sociaux n'a pas à passer par un processus de publication incluant la révision par les pairs.</p>
        <br />
        <blockquote>In scholarly and scientific publishing, altmetrics are non-traditional metrics proposed as an alternative to more traditional citation impact metrics, such as
        impact factor and h-index. The term altmetrics was proposed in 2010, as a generalization of article level metrics, and has its roots in the #altmetrics hashtag. Although
        altmetrics are often thought of as metrics about articles, they can be applied to people, journals, books, data sets, presentations, videos, source code repositories, web
        pages, etc. Altmetrics cover not just citation counts, but also other aspects of the impact of a work, such as how many data and knowledge bases refer to it, article
        views, downloads, or mentions in social media and news media.
        <br />
        <small class="pull-right">Wikipedia [en ligne]. 2015. Disponible sur : http://en.wikipedia.org/wiki/Altmetrics (05/2015).</small>
        <br /></blockquote>
        <blockquote>Altmetric collects article level metrics and the online conversations around research on behalf of publishers, institutions and funders, combining a selection
        of online indicators (both scholarly and non-scholarly) to give a measurement of digital impact and reach. We do this by tracking, collecting and measuring large amounts
        of data collected from all of the places where scientists, patient advocates, journalists, nurses, engineers and members of the public talk about science online - for
        example, blogs, Twitter, Facebook, Google+, message boards and mainstream newspapers and magazines. Altmetric allows authors and publishers to see what people are saying
        about a scholarly paper and can tell them how much attention a paper is receiving relative to their peers.
        <br />
        <small class="pull-right">Altmetrics [en ligne]. 2015. Disponible sur : http://altmetrics.org/manifesto/ (05/2015).</small>
        <br /></blockquote>
      </div>
    </div>
