    <div id="base" class="acteur">
      <div class="titre">Book Citation Index</div>
      <div class="contenu">

              <h5>1/ Definition</h5>
              <p>Le Book Citation Index consiste en une sélection d’ouvrages de type livre sur le Web of Science. Les critères utilisés pour constituer la sélection ne concernent
              que le format du livre soumis et non son contenu. Il est procédé une sélection éditoriale dans toutes les disciplines scientifiques, 10 000 ouvrages sont ajoutés
              chaque année.</p>
              <blockquote>Following the pattern of journals and proceedings content, a set of inclusion and exclusion criteria have been established for the selection of books for
              indexing in The BKCI. These criteria require full-text original research, a bibliography, references or footnotes, and a copyright year dated 2005 or later. Books
              may be by multiple or single authors, electronic or print, in series or in monograph. Exclusion criteria include books based on maps, atlases, undergraduate text
              books, popular viewpoints or opinions, or books of abstracts. An analysis of the books indexed so far by their research field showed that the arts, humanities, and
              social sciences account for roughly three fifths of the book content in The BKCI. 
              <small class="pull-right">J.Gorraiz, P.J. Purnell, W. Gländel, Opportunities for and Limitations of the Book Citation Index, Journal of the American society for
              information science and technology, 64(7) :1388-1398, July 2013</small>
              <br /></blockquote>
              <p>L’intérêt de cet indicateur part du constat, expliqué dans ce même article, selon lequel dans certains domaines comme les sciences humaines ou encore l’histoire,
              la majeure partie de la production de la recherche ne se fait pas sous forme de publication, mais sous forme de livre. Ces livres ont plusieurs spécificités : d’une
              part, ils ne sont pas lus avant leur parution comme peuvent l’être des publications dans des revues. D’autre part, ils sont moins cités et ont une visibilité
              moindre. Il s’agit donc de créer une base de données adaptée.</p>
              <h5>2/ L'histoire et l'émergence du Book Citation Index:</h5>
              <img src="/~groupe10/template/images/bci1.png" with="400px" class="image-responsive" />
              <p>Nous constatons que le besoin d’un index de citation pour les livres est à l’origine de nombreuses publications notamment en 2006, 2008 et 2013. Il est à noter
              que le BKCI est annoncé en 2010, lancé en 2011 (source : 
              <b>Nancy K. Herther. Thomson Reuters Announces Book Citation Index—Scheduled for Release in 2011, Information Today, Inc. October 25, 2010</b>), les premières
              réactions arrivant deux ans après.</p>
              <p>La question de l’évaluation du genre « livre » ou plus généralement « monologue » est également soulevée en général, la communauté scientifique proposant des
              solutions. Dans 
              <b>J. Gorriaz, C. Gumpenberger, P.J. Purnell, The power of book reviews : a simple and transparent enhancement approach for book citation indexes, Scientometrics
              (2014) 98:841–852</b> , les auteurs introduisent un nouveau genre de publication, qui est le « book review », à savoir un article visant à rendre compte d’un livre
              en particulier. Ils s’intéressent aux caractéristiques de ce genre, qui est très peu cité en tant que tel, reprend la plupart du temps le nom du livre dans son
              propre nom. Le nombre de book reviews pour un livre en particulier donnerait alors l’impact de ce livre sur la recherche, cela remplaçant le système de
              citations.</p>
              <h5>3/ Acteurs récurrents</h5>
              <p>Juan Gorraiz : chercheur en bibliométrie à l’Université de Vienne. Sur 13 articles sur Scopus formulant explicitement « Book Citation Index », 3 sont (co-)écrits
              par lui.</p>
            </div>
          </div>

