
    <div id="g-index" class="acteur">
      <div class="titre">Le g-index</div>
      <div class="contenu">
      <p>Le g-index est un indicateur bibliométrique créé par Leo Egghe en 2006.</p>
      <blockquote>A set of papers has a g-index g if g top g papers have, together, at least g^2 citations. This also means that the top g + 1 papers have less than (g +1)^2
      papers. 
      <small class="pull-right">Egghe, L. (2006). Theory and practise of the g-index. Scientometrics, vol. 69, No 1, 131-152.</small>
      <br /></blockquote>
      <br />
      <p>Un chercheur a un g-index de X si il a publié X articles, eux-mêmes cités au moins X^2 fois. Il s'agit du même principe que le h-index, sauf que le nombre de
      citations exigé est plus important. Leo Egghe propose son indice en terme de variante du h-index. (INSERER SCHEMA)</p>
      <blockquote>We also leave open the construction of other h- or g-like indexes and the comparison of these newindexes with the h- and g-index. It would also be interesting to
      work out more practical cases (in otherfields) of h- and g-index comparisons. Such case studies can learn a lot on the advantages and/ordisadvantages of the h-index and the
      g-index. 
      <small class="pull-right">Egghe, L. (2006). Theory and practise of the g-index. Scientometrics, vol. 69, No 1, 131-152.</small>
      <br /></blockquote>
      <br />
      <h5>Sur Scopus :</h5>
      <p>Nombre d'articles publiés sur le G-index depuis la mise en place de la base de donnée: Equation de recherche : 
      <i>TITLE-ABS-KEY ( g-index )</i> 
      <b>(386 résultats).</b></p>
      <img class="img-responsive" src="/~groupe10/template/images/g-index.png" /> 
      <small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small></div>
    </div>
