    <div id="googlescholar" class="acteur">
      <div class="titre">Google Scholar</div>
      <div class="contenu">
        <img class="image-responsive" src="/~groupe10/template/images/Google_Scholar_logo.png" />
        <h4>1/ Définition:</h4>
        <p>Google Scholar est un service de Google permettant la recherche d'article scientifiques. Lancé fin 2004, il inventorie des articles approuvés ou non par des comités
        de lecture (en anglais : peer-reviewed), des thèses de type universitaire, citations ou encore des livres scientifiques.</p>
        <blockquote>Google Scholar permet d'effectuer facilement une recherche étendue portant sur des travaux universitaires. Vous pouvez, à partir d'un emplacement unique,
        explorer un grand nombre de domaines et de sources : articles revus par des comités de lecture, thèses, livres, résumés analytiques et articles. Ces travaux peuvent
        provenir de sources telles que des éditeurs scientifiques, des sociétés savantes, des référentiels de prépublication, des universités et d'autres organisations de
        recherche. Google Scholar vous permet d'identifier les travaux de recherche les plus pertinents du monde universitaire. 
        <small class="pull-right">Google, Google Scholar[en ligne]. 2015. Disponible sur : 
        <a target="_blank" href="https://scholar.google.fr/intl/fr/scholar/about.html">scholar.google.fr</a> (05/2015).</small>
        <br /></blockquote>
		<br />
        <h4>2/ Contenu</h4>
        <p>L'index de Google Scholar contient la plupart des journaux en ligne soumis à des comités de lecture, journaux provenant des grands éditeurs de littérature
        scientifique. Cependant la couverture réelle n’est pas connue précisément et plusieurs chercheurs ont repéré des trous dans sa couverture des archives des
        éditeurs. En 2014, Google Scholar prétendait couvrir 85% des publications scientifiques. La qualité des résultats des recherches n’atteint pas celle des bases de
        données classiques1. Bien que l'attention ait été attirée sur le fait que Google Scholar n'est pas un outil adapté pour des applications bibliométriques ni pour
        l'évaluation de l'impact des chercheurs et des revues.</p>
        <small class="pull-right">Wikipedia [en ligne]. 2015. Disponible sur : 
        <a target="_blank" href="http://fr.wikipedia.org/wiki/Google_Scholar">fr.wikipedia.fr</a> (05/2015).</small>
      </div>
    </div>
