<div id="h-index" class="acteur">
<div class="titre"> Le h-index </div>
<div class="contenu"> 
  
<p>
Le h-index est un indicateur bibliométrique créé par Jorge Hirsch en 2005.
</p>

	<blockquote>
	A scientist has index h if h of his/her Np papers have at least h citations each, and the other (Np − h) papers have no more than h citations each. <br/>
    <small class="pull-right">J. Hirsh, An index to quantify an individual's scientific research output, Proceedings of the National Academy of Sciences, vol. 102, no 46, 16569–16572, 2005</small><br>
	</blockquote>
	
<p>
Un chercheur a un h-index de X si il a publié X articles, eux-mêmes cités au moins X fois. En classant les articles d'un certain chercheur par ordre décroissant de citations, cela correspond à l'intersection de la courbe citation en fonction du numéro de l'article avec la courbe identité.
</p>

Nombres des articles traitant du h-index: 
</p> 
<h5>
a. Sur Scopus : </h5>

<p>
On recherche les articles publiés après 2003 comportant "h-index" en thème. Nous utilisons donc l'équation de recherche : <i>TITLE-ABS-KEY ( h-index )  AND  PUBYEAR  >  2003</i><b> (1494 résultats).
</p>

<img class="img-responsive"  src="/~groupe10/template/images/h-index1.png">
<br/>
<small class="text-center-md">Elsevier B.V. Scopus [en ligne]. 2015. Disponible sur : scopus.com (05/2015).</small>


</p>
<h5>
b. Sur le Web of Science  : 
</h5>
<img class="img-responsive"  src="/~groupe10/template/images/h-index2.png">
<small class="text-center-md">Thomson Reuters. Web Of Science [en ligne]. 2015. Disponible sur : http://apps.webofknowledge.com (05/2015).</small>
<img class="img-responsive"  src="/~groupe10/template/images/h-index3.png">
<small class="text-center-md">Thomson Reuters. Web Of Science [en ligne]. 2015. Disponible sur : http://apps.webofknowledge.com (05/2015).</small>


<h5>c. Nous nous intéressons à la relation du h-index avec le g-index : </h5>
<p>Nous recherchons les articles publiés après 2003 comportant en thème à la fois "h-index" et "g-index". Nous utilisons donc l'équation de recherche : <i> TITLE-ABS-KEY ( h-index AND g-index )  AND  PUBYEAR  >  2003 </i><b>(1494 résultats).</b></p>

<p> 
<img class="img-responsive"  src="/~groupe10/template/images/h-index5.png">
<br />
<small class="text-center-md">Source: scopus.com (2015)</small 
</p>

<p > 
Cet aspect de la controverse est le plus actif en 2009 et 2010 ; il reprend de l’ampleur en 2013 dans le même temps que les indicateurs bibliométriques sont discutés dans le domaine biomédical.
</p>
<p > 
Toujours dans le domaine de la recherche, d’autres chercheurs sont plus catégoriques et considèrent que le h-index, comme le g-index, sont bien trop simplistes et ne sont pas des indicateurs fiables comme dans (Abramo, D'Angelo, & Viel, 2013) : 
</p>
<blockquote>
While they are easy to understand, measure and communicate, such indicators entail a level of inaccuracy that could well be unacceptable for most of the intended uses and objectives.
<br />
<small class="pull-right">G. Abramo, C.A. D'Angelo, F. Viel. The suitability of h and g indexes for measuring the research performance of institutions. Scientometrics (2013) 97:555–570</small><br>
</blockquote>
<br />
<p > On note que dans ces publications, les mots-clés utilisés sont : « research evaluation », « research productivity », mais aussi « quality control ». 
</p>


  
</div>
