<div id="journalimpactfactor" class="acteur">
<div class="titre"> Le Journal Impact Factor </div>
<div class="contenu"> 
  
<p>
Le Journal Impact Factor est un indicateur bibliométrique introduit en 1955 par Eugene Garfield.
</p>

	<blockquote>
	 A journal’s impact factor is based on 2 elements: the numerator, which is the number of citations in the current year to any items published in a journal in the previous 2 years, and the denominator, which is the number of substantive articles (source items) published in the same 2 years.
    <small class="pull-right">Garfield, E. "Journal impact factor: a brief review", Canadian Medical Association Journal, 161(8), p.979-80, 1999</small><br>
	</blockquote>
	
<p>
L'indice sert à évaluer une revue. Il comporte un numérateur et un dénominateur, dont l'idée correspond à pondérer le nombre total de citations par le nombre d'articles publiés.
</p>



  
</div>