<div id="scopus" class="acteur">
<div class="titre"> Scopus </div>
<div class="contenu"> 
  

<h4>1/ Définition:
</h4>
<p>
Sciverse Scopus est le nom de la base de données transdisciplinaire lancée par l'éditeur scientifique Elsevier en 2004. C'est un concurrent du Web Of Science.
</p>

	<blockquote>
	 Scopus is the largest abstract and citation database of peer-reviewed literature: scientific journals, books and conference proceedings. Delivering a comprehensive overview of the world's research output in the fields of science, technology, medicine, social sciences, and arts and humanities, Scopus features smart tools to track, analyze and visualize research.

As research becomes increasingly global, interdisciplinary and collaborative, you can make sure that critical research from around the world is not missed when you choose Scopus
    <small class="pull-right">Elsevier B.V. [en ligne]. 2015. Disponible sur : <a href="http://www.elsevier.com/online-tools/scopus"> elsevier.com</a> (05/2015).</small><br>
	</blockquote>
	<br />
<p>
Cette base nous permets de calculer facilement les h-index des scientifiques présentés.
</p>

<h4>
2/ Contenu
</h4>
<p > 
Scopus référence 21 000 journaux scientifiques (y compris 1 200 titres en open access), 600 publications industrielles, 350 collections d'ouvrages, ainsi que 764 actes de conférence et 42 et 433 Mio pages web scientifiques via Scirus 1.

Par rapport à son principal concurrent (Web of Science), Scopus offre une plus grande couverture des sciences humaines et sociales et des journaux non anglophones2.
</p><small class="pull-right">Wikipedia [en ligne]. 2015. Disponible sur : <a href="http://fr.wikipedia.org/wiki/Scopus_%28Elsevier%29">fr.wikipedia.fr</a> (05/2015).</small>
  
</div>
</div>
